@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CustomerFeedback.TextAnalytics.SentimentResult 
@{
}

<h2>Overall feedback: @Model.OverallFeedback</h2>
<table class="table table-bordered">
    <tr>
        <th>Feedback</th>
        <th>Sentiment Result</th>
    </tr>
    @foreach (var result in Model.FeedbackWithSentiments)
    {
    <tr>
        <td>@result.Feedback</td>
        <td>@result.Sentiment</td>
    </tr>
    }
</table>