@{
    ViewData["Title"] = "Thanks";
}

<div class="row">
    <div class="col-md-12">
        <h2>Thank you</h2><br />
        <b>Thank you for taking the time to provide your feedback. We value your opinion and will be reviewing your feedback shortly. In the interim, if you have any questions around our service, please feel free to contact us.</b><br /><br />
        @Html.ActionLink("Back to Home", "Index", "Home")
    </div>
</div>